.form {
  margin: 1rem 0;
  height: 19rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: var(--color-secondary);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--color-secondary-dark);
  color: white;
}

.actions .submit {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: var(--color-secondary-dark);
}

.invalid label {
  color: var(--color-non-veg);
}

.invalid input {
  border-color: var(--color-non-veg);
  background-color: #ffdfe3;
}

.form p {
  margin-top: 0.4rem;
  font-size: 0.85rem;
  color: rgb(100, 100, 100);
}
