.meal {
  display: flex;
  justify-content: start;
  margin: 1.2rem;
  padding-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 2px 2px 9px black;
}

.meal h4 {
  margin: 0;
  padding: 0 0.6rem;
}

.meal img {
  object-fit: contain;
  width: 100%;
  padding: 0;
  border-radius: 6px 6px 0 0;
}

.description {
  margin: 0;
  padding: 0 0.6rem;
  font-style: italic;
  font-size: 0.8rem;
}

.veg-icon,
.non-veg-icon {
  margin-bottom: 0.25rem;
  padding: 0 0.6rem;
  font-weight: bold;
  color: #02ad2a;
  font-size: 1.25rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.6rem;
}

.non-veg-icon {
  color: #e32716;
}

.foot-habit-icon {
  font-size: 1.6rem;
}

@media (max-width: 992px) {
  .meal {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .meal {
    margin: 0.4rem;
    box-shadow: 2px 2px 5px black;
  }

  .meal .price {
    font-size: 1rem;
    align-items: end;
  }

  .foot-habit-icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .meal {
    margin: 0.3rem;
  }
}

@media (max-width: 380px) {
  .meal h4 {
    font-size: 0.8rem;
  }

  .price {
    font-size: 0.85rem;
  }

  .description {
    font-size: 0.6rem;
  }
}
