.meal {
  display: flex;
  justify-content: flex-start;
  margin: 1.2rem;
  position: relative;
  padding-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 2px 2px 9px black;
}

.meal h4 {
  margin: 0;
  padding: 0 0.6rem;
}

.img-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.recommended-badge {
  position: absolute;
  top: 0.4rem;
  left: 1rem;
  font-size: 0.7rem;
  color: white;
  width: max-content;
  background-color: black;
  padding: 0.2rem 0.5rem;
  border: 1px solid white;
  border-radius: 12px;
}

.bookmark {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  font-size: 1.7rem;
  vertical-align: middle;
  cursor: pointer;
}

.bookmark-fill {
  color: var(--color-non-veg);
}

.bookmark-outline {
  color: white;
}

.meal img {
  object-fit: contain;
  width: 100%;
  padding: 0;
  border-radius: 6px 6px 0 0;
}

.description {
  margin: 0;
  padding: 0 0.6rem;
  font-style: italic;
  font-size: 0.8rem;
}

.veg-icon,
.non-veg-icon {
  margin-bottom: 0.25rem;
  padding: 0 0.6rem;
  font-weight: bold;
  color: var(--color-veg);
  font-size: 1.25rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.6rem;
}

.non-veg-icon {
  color: var(--color-non-veg);
}

.foot-habit-icon {
  font-size: 1.6rem;
}

@media (max-width: 992px) {
  .meal {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .meal {
    margin: 0.4rem;
    box-shadow: 2px 2px 5px black;
  }

  .meal .price {
    font-size: 1rem;
    align-items: end;
  }

  .foot-habit-icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .meal {
    margin: 0.3rem;
  }
}

@media (max-width: 380px) {
  .meal h4 {
    font-size: 0.8rem;
  }

  .price {
    font-size: 0.85rem;
  }

  .description {
    font-size: 0.6rem;
  }
}
