.actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 7rem;
  margin: 2rem 0.4rem 0 auto;
  gap: 1rem;
  justify-content: space-around;
}

.actions-button {
  background-color: #82bb37;
  color: white;
  outline: none;
  font-size: 0.7rem;
  font-weight: bold;
  border: 0px;
  padding: 0.4rem;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 0.6rem;
}

.actions-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  bottom: 0.6rem;
  padding: 0 0.4rem;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 4px;
}

.icons {
  color: rgb(98, 98, 98);
}

.item-amount {
  border: 1px solid rgb(159, 159, 159);
  border-top: none;
  border-bottom: none;
  justify-self: stretch;
  text-align: center;
  margin: 0 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .actions {
    margin-top: 2.6rem;
  }

  .actions-button {
    font-size: 0.9rem;
  }

  .actions-container {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .item-amount {
    font-size: 1.2rem;
  }
}
