@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  --color-primary: #0066a7;
  --color-secondary: #00508a;
  --color-secondary-dark: #002a48;
  --color-veg: #02ad2a;
  --color-non-veg: #e32716;
  --bump-animation: bump 1500ms 10 linear;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 5rem auto;
  background-color: #cecece;
}

footer {
  width: max-content;
  margin: 0 auto;
  color: gray;
}

footer a {
  color: gray;
  margin-left: 0.3rem;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.6);
  }

  30% {
    transform: scale(1.6);
  }

  50% {
    transform: scale(2.1);
  }

  100% {
    transform: scale(1);
  }
}
