.spinner {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 50%;
  top: 40vh;
  left: calc(45% - 2rem);
  animation: rotate 3s 40 linear;
  color: #0066a7;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
